/* فونت فارسی */
@font-face {
  font-family: 'Vazirmatn';
  src: url('/src/assets/fonts/Vazirmatn-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IranNastaliq";
  src: url("/src/assets/fonts/IranNastaliq.ttf") format("truetype");
}

@font-face {
  font-family: "Digikala";
  src: url("/src/assets/fonts/Digikala -_font.ttf") format("truetype");
}

.dashboard-header {
  text-align: center;
  margin: 1rem 0;
  line-height: 1.4;
}

.dashboard-header .line1 {
  font-family: "IranNastaliq";
  font-size: 2rem;
}

.dashboard-header .line2 {
  font-family: "Digikala";
  font-size: 1.2rem;
  color: #555;
}


input[type="password"] {
  direction: ltr !important;
  text-align: left !important;
}

/* تنظیمات عمومی */
body {
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: 'Vazirmatn', 'Tahoma', 'Segoe UI', sans-serif;
  background-color: #f5f6f8;
  color: #141414;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* بهینه‌سازی لی‌آوت اصلی */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* استایل‌دهی فرم‌ها و دکمه‌ها */
.ant-form-item-label > label {
  direction: rtl !important;
}

/* راست‌چین کردن متن در فیلدها */
.ant-input,
.ant-select,
.ant-picker,
textarea {
  text-align: right;
}

/* دکمه‌ها با فونت مناسب */
.ant-btn {
  font-family: 'Vazirmatn', sans-serif;
}

/* استایل کد */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
